    * {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("chineselan.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: lightcoral;
  font-family: Arial, Helvetica, sans-serif;

}

/* Header styling */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  background-color: rgb(19, 134, 134);
}

/* LOGO */
.logo img {
  width: 80px;
  height: auto;
  transition: all 0.4s ease-in-out;
}

/* Hover effect for logo */
.logo img:hover {
  transform: scale(1.2) translate(-5px);
  filter: brightness(1.5) hue-rotate(30deg) drop-shadow(0 0 10px yellowgreen);
}

/* NAVIGATION */
.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu li {
  list-style: none;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s ease;
}

.nav-menu a:hover {
  color: blueviolet;
  transform: translateY(-5px);
}

/* CONTACT BUTTON */
.contact-button .btn {
  background-color: white;
  color: cyan;
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 17px;
  transition: all 0.3s ease;
}

.contact-button .btn:hover {
  background-color: rgb(63, 94, 126);
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.contact-button .btn a {
  text-decoration: none;
  color: inherit;
}
